<!doctype html>
<head>
  <title>Pflanzen</title>
</head>
<body>    
<h1> Unsere beliebtesten Pflanzen </h1>

<div *ngFor="let plant of plants">
  <table>
    <thead>
      <tr>
        <th> Name: {{plant.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <li>Name: {{plant.name}}</li>
          <li>Familie: {{plant.family}}</li>
          <li>Art: {{plant.species}}</li>
          <li>Nutzung: {{plant.usage}}</li>
          <li>Giftig: {{plant.poison}}</li>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
</div>

</body>


