<ol>
    <li>Starte klein: 
        <br> 
        
        Beginne mit einem kleinen Beet oder ein paar Töpfen, um ein Gefühl für Gartenarbeit zu bekommen, bevor du dich auf einen größeren Bereich einlässt.</li>
    <li>Plane im Voraus: 
        <br>
        Recherchiere die Pflanzen, die du wachsen lassen möchtest und stelle sicher, dass sie in deinem Klima und Boden gut gedeihen werden.</li>
    <li>Nutze Mulch:
        <br>
        Mulch hilft, Feuchtigkeit im Boden zu halten, Unkraut zu kontrollieren und organisches Material in den Boden abzubauen.</li>

    <li> Gieße sinnvoll:
        <br>
         Gieße tief und selten, um starke Wurzelbildung zu fördern.</li>

        <li>
            
        </li>
  
    </ol>

