<!DOCTYPE html>
<html>
  <head>
    <title>Tipps und Tricks</title>
  </head>
  <body>
    <header>
      <h1>Willkommen bei unseren Tipps und Tricks</h1>
    </header>
  <img src = "https://st.depositphotos.com/1252248/1783/i/450/depositphotos_17832719-stock-photo-frequently-asked-questions.jpg"/>
    <nav>
      <ul>
        <li><a href="#unsere Tipps und Tricks">Tipps & Tricks</a></li>
        <li><a href="#Community">Community</a></li>
        <li><a href="#contact">Kontakt</a></li>
       
       
      </ul>
    </nav>
    <main>
      <section id="unsere Tipps und Tricks">
        <h2>Tipps und Tricks</h2>
        <ul>
          <h4>Tipp 1</h4>
          <li>Verwenden Sie qualitativ hochwertige Erde und Dünger: Verwenden Sie qualitativ hochwertige Erde und Dünger, um Ihren Pflanzen die bestmöglichen Wachstumsbedingungen zu bieten.</li>
          <h4>Tipp 2</h4>
          <li>Geben Sie den Pflanzen genug Wasser: Stellen Sie sicher, dass Ihre Pflanzen genug Wasser bekommen, aber vermeiden Sie Staunässe.</li>  
          <h4>Tipp 3</h4>
          <li>Stellen Sie die Pflanzen an den richtigen Ort: Stellen Sie die Pflanzen an einen Ort, an dem sie genug Sonnenlicht und Schatten bekommen.</li>
          <h4>Tipp 4</h4>
          <li>Pflanzen Sie zur richtigen Jahreszeit: Pflanzen Sie zur richtigen Jahreszeit, um sicherzustellen, dass Ihre Pflanzen genug Zeit haben, um richtig zu wachsen und zu gedeihen.</li>  
          <h4>Tipp 5</h4>
          <li>Entfernen Sie abgestorbene Blätter und Triebe regelmäßig: Entfernen Sie abgestorbene Blätter und Triebe regelmäßig, um sicherzustellen, dass Ihre Pflanzen gesund bleiben.</li>
          <h4>Tipp 6</h4>
          <li> Verwenden Sie Pflanzenschutzmittel: Verwenden Sie Pflanzenschutzmittel, um Ihre Pflanzen vor Schädlingen und Krankheiten zu schützen.</li>
          <h4>Tipp 7</h4>
          <li>Geben Sie Ihren Pflanzen genug Platz: Geben Sie Ihren Pflanzen genug Platz zum Wachsen und Atmen.</li>
          <h4>Tipp 8</h4>
          <li>Warten Sie regelmäßig auf Ihre Pflanzen: Warten Sie regelmäßig auf Ihre Pflanzen, um sicherzustellen, dass sie gesund bleiben und ihre Bedürfnisse erfüllt werden.</li>  
         
        </ul>
      </section>
      <section id="Community">
        <h2>Austausch</h2>
        <p>Liebe Gartenfreunde, hier können wir uns gegenseitig austauschen, sodass unsere Lieblinge immer auf den neusten Stand bleiben und weiterhin schön aufblühen können.</p>
      </section>
      <section id="contact">
        <h2>Falls Sie weitere Fragen haben:  </h2>
        <p>Telefon: 555-555-5555</p>
        <p>E-Mail: info@forestfriend.com</p>
        <p>Adresse: 5 Gartenstraße, Gartenstadt</p>
      </section>
    </main>
    <footer>
      <p>Copyright ©2023 forestfriend</p>
    </footer>
  </body>
</html>


